<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .red {
        color: crimson;
      }
      .blue {
        color: darkblue;
      }
    </style>
  </head>
  <body>
    <div id="div1">
      <p id="p1">s</p>
      <p id="p2">salam</p>
      <p id="p3">salam</p>
      <p id="p4">salam</p>
    </div>
    <button id="btn">click</button>
    <div id="div2">
      <p id="p5">salam</p>
      <p id="p6">salam</p>
      <p id="p7">salam</p>
      <p id="p8">salam</p>
    </div>
    <button id="btn2">click</button>

    <div id="di3">
      <p id="p10">salam</p>
      <p id="p11" class="blue">salam</p>
      <p id="p12" class="red">salam</p>
    </div>
    <button id="btn3">click</button>

    <script src="../js/jquery.js"></script>
    <script src="../js/add_remove.js"></script>
  </body>
</html>
