<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>animate</title>
    <style>
        #div1{
            width: 300px;
            height: 300px;
            position: relative;
            top: 200px;
            left:200px;
            background-color: seagreen;
        }
    </style>
</head>
<body>
    <div id="div1">animate</div>
    <button id="btn1">animate</button>
    <script src="../js/jquery.js"></script>
    <script>
        $(function(){
            $('#btn1').click(function(){

            })
        })
    </script>
</body>
</html>