<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="div1" class="c1">d1 c1</div>
    <div id="div2" class="c2">d2 c2</div>
    <div id="div3" class="c3">d3 c3</div>

    <button id="btn">click</button>

    <script src="../js/jquery.js"></script>
    <script src="../js/filtering.js"></script>
  </body>
</html>
