<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get set</title>
</head>
<body>
    <p id="p1">java<b>script</b></p>
    <p id="p2">Html</p>
    <p id="p3">css</p>
    <br>
    <input type="text" id="txt" value="hello">
    <br><br>
    <button id="btn">click</button>
    <br><br>
    <a id="events" href="event.html" target="_blank">JQuery events</a>
    <br>

    <script src="../js/jquery.js"></script>
    <script src="../js/get_set.js"></script>
</body>
</html>