<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lesson 3</title>

    <style>
      #div1 {
        width: 100%;
        height: 300px;
        overflow: scroll;
      }
    </style>
  </head>
  <body>
    <div id="div1">
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
      <p>salam</p>
    </div>

    <p id="p1"></p>
    <p id="p2"></p>

    <form action="" id="frm">
      <input type="text" id="username" /><br /><br />
      <input type="password" id="password" /><br /><br />
      woman: <input type="radio" name="gender" id="radio1" /> man:
      <input type="radio" name="gender" id="radio1" /><br /><br />

      <button type="submit" value="submit" id="btn">submit</button>
    </form>

    <button id="btn1">click</button>

    <script src="../js/jquery.js"></script>
    <script src="../js/lesson3.js"></script>
  </body>
</html>
